.d3RadialTreelink {
	fill: none;
	stroke: #ccc;
	opacity: 0.9;
	stroke-width: 1.5px;
}
.d3RadialTreeNode circle {
	stroke: #fff;
	opacity: 0.9;
	stroke-width: 1.5px;
}
.d3RadialTreeNode:not(:hover) .d3RadialTreeNodeText {
	display: none;
}

.d3ChordGroupTick line {
	stroke: #000;
}

.d3ChordOfficeLabel {
	font-size: 25px;
	font: sans-serif;
	text-anchor: middle;
}

.d3ChordRibbons {
	fill-opacity: 0.6;
}