.d3RadialTreelink {
	fill: none;
	stroke: #ccc;
	opacity: 0.9;
	stroke-width: 1.5px;
}
.d3RadialTreeNode circle {
	stroke: #fff;
	opacity: 0.9;
	stroke-width: 1.5px;
}
.d3RadialTreeNode:not(:hover) .d3RadialTreeNodeText {
	display: none;
}